---
# We need to know the current rules in filter table to stat if template has to
# be applied or not. But we don't need to store the table in a file.

- name: "get initial state of the firewall"
  iptables_state:
    path: "{{ iptables_apply__path_buffer }}"
    state: saved
  register: iptables_state__registered
  check_mode: true
  changed_when: false


- name: "rewrite iptables buffer from scratch"
  template:
    src: "{{ iptables_apply__template }}"
    dest: "{{ iptables_apply__path_buffer }}"
  register: iptables_apply__ruleset
  when:
    - ( not iptables_apply__template_once | bool ) or
      ( not iptables_apply__template_mark in iptables_state__registered.initial_state )
...
